<link href="/boxStyle.css" rel="stylesheet" type="text/css">
 <%- include('partials/head') %>
 <body>
<%- include('partials/navbar') %>
    <main>
      <section id="header">
        <p>
          Welcome to Flashcarder! Here, you can review material and
          edit your stacks or view your stats!
        </p>
        <p>
          Needs Review:
        </p>
          <% for (let x of arr) { %>
            <div>
              <%= x %>
            </div>
          <% } %>
      </section>
      <section id="cardDisplay">
        <div class="box">French</div>
        <div class="box">German</div>
      </section>
    </main>
<%- include('partials/bootstrapScript') %>
  </body>
</html>
