<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ut hic quis
      vitae sequi ipsa ratione quisquam eveniet, beatae numquam aliquid deleniti
      delectus totam obcaecati fugit praesentium, cumque dignissimos expedita.
    </p>
  </body>
</html>
