 <%- include('partials/head') %>
 <body>
<%- include('partials/navbar') %>
    <main>
      <section id="header">
        <p>
          Welcome to Flashcarder! Here, you can review words and phrases and
          edit your cardstack to optimize your learning!
        </p>
      </section>
      <section id="cardDisplay">Card Will Display Here</section>
    </main>
<%- include('partials/bootstrapScript') %>
  </body>
</html>
