<% layout('layouts/landingBoilerplate') %>

<h1>Welcome to Flashcarder!</h1>
<img src="../assets/notes-small.jpg" alt="notepads" />
<p>
  Here, you can keep track of all your flashcards in convenient, easy-to-use
  collections, review terms and phrases, and breezily access your usage stats.
</p>
<a href="/login">Log In</a><br />
<a href="/register">Register</a>

<p>file: landingPage.ejs</p>
