<% layout('layouts/landingBoilerplate') %>

<head>
  <style>
    body {
      align-items: center;
    }
    main {
      padding: 0.5rem 5rem;
    }
    h1 {
      text-align: center;
    }
    img {
      width: 100%;
      /* margin-left: auto;
      margin-right: auto;
      display: block;
      padding: 10px 0px 10px; */
    }
    a {
      color: black;
      text-decoration: none;
    }
    a:hover {
      color: black;
      text-decoration: none;
    }
  </style>
</head>

<main>
  <h1>Welcome to Flashcarder!</h1>
  <img src="../assets/notes-small.jpg" alt="notepads" />
  <p>
    Here, you can keep track of all your flashcards in convenient, easy-to-use
    collections, review terms and phrases, and breezily access your usage stats.
  </p>
  <div id="buttons">
    <button><a href="/login">Log In</a></button>
    <button><a href="/register">Register</a></button>
  </div>

  <p>file: landingPage.ejs</p>
</main>
