<% layout('layouts/boilerplate') %>
<head>
  <title>Logged In Confirmation</title>
</head>
<h1>You Are Logged In!</h1>
<form action="/logout" method="POST">
  <button>Sign Out</button>
  <a href="/cards/new">Make new card</a>
  <a href="/users">To All Users</a>
</form>
