<%- include('partials/head') %>
<body>
    <%- include('partials/navbar') %>
   <main>
     <section id="header">
       <p>
         Here, you can see several statistics that may be helpful for customizing your
         Flashcarder experience!
       </p>
     </section>
     <section class='cardDisplay' id="statsDisplay">Statistics dashboard here</section>
   </main>
<%- include('partials/bootstrapScript') %>
 </body>
</html>
