<!-- layout file -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .maincontainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5rem;
      }
      .theCard {
        position: absolute;
        width: 250px;
        height: 320px;
        border-radius: 1rem;
        transform-style: preserve-3d;
        transition: all, 0.5s ease;
      }
      .active {
        transform: rotateY(180deg);
      }
      .front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #ffc728;
        color: #333;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-transform: capitalize;
      }
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background: #d6d6d6;
        color: #333;
        transform: rotateY(180deg);
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-transform: capitalize;
      }
      .button {
        background: red;
        z-index: 0;
      }
    </style>
  </head>
  <body>
    <% layout('layouts/userLandingBoilerplate') %>
    <div class="maincontainer">
      <div id="theCard" class="theCard">
        <div class="front">
          <div id="frontContent">
            <h1></h1>
          </div>
          <div>
            <input id="input" type="text" oninput="defineInputText()" />
          </div>
          <div id="checkAnswer">
            <button onclick="flipCard()">Check Answer</button>
          </div>
        </div>
        <div class="back">
          <h1 id="backText"></h1>
          <button id="nextCardBtn" onclick="nextCard()">Next Card</button>
        </div>
      </div>
    </div>
  </body>
  <script>
        let cardArray = <%- JSON.stringify(collections) %>;
        let cardFrontText = document.querySelector("#frontContent > h1");
        let cardBackText = document.querySelector("#backText");
        let cardFront = document.getElementsByClassName("front");
        let cardBack = document.getElementsByClassName("back");
        let nextCardBtn = document.getElementById('nextCardBtn');
        let backToCollectionsBtn = document.getElementById('backToCollectionsBtn');
        let cardCounter = 0;
        // console.warn(cardBack);
        cardFrontText.innerText = cardArray[cardCounter].front;
        cardBackText.innerText = cardArray[cardCounter].back;
        let theCard, input, back, front, cardData;
        let inputText, backText, frontText;
        window.onload = function () {
          theCard = document.getElementById("theCard");
          input = document.getElementById("input");
          backText = document.getElementById("backText");
          frontText = document.getElementById("frontText");
          inputText = input.innerText;
        };
        function defineInputText() {
          inputText = input.value;
        }
        function flipCard() {
          if (inputText == cardArray[cardCounter].back) {
            console.log("correct");
            cardBack[0].style.backgroundColor = "green";
            theCard.style.transform = "rotateY(180deg)";
          } else {
            cardBack[0].style.backgroundColor = "red"
            theCard.style.transform = "rotateY(180deg)";
            console.log("incorrect");
            console.log("inputText: " + inputText);
            console.log("backText: " + backText);
          }
        }
        function nextCard() {
          if (cardArray.length != cardCounter + 1) {
            cardBack[0].style.backgroundColor = "inherit";
            input.value = null;
            cardCounter++;
            setInterval(() => {
              cardFrontText.innerText = cardArray[cardCounter].front;
              cardBackText.innerText = cardArray[cardCounter].back;
            }, 200);
            theCard.style.transform = "rotateY(0deg)";
          } else {
            nextCardBtn.innerText = 'Back to Collections';
            // console.warn('No more cards to display');
          }
        }
    //     function hideButton() {
    //   let x = document.getElementById("backToCollectionsBtn");
    //   if (x.style.display === "none") {
    //     x.style.display = "block";
    //   } else {
    //     x.style.display = "none";
    //   }
    // }

        // theCard.addEventListener("click", nextCard());
  </script>
</html>
