<% layout('layouts/userLandingBoilerplate') %>

<h1>Welcome Back, <%= user.username %>!</h1>
<p>
  Here are your collections, what you went over last time, and what needs
  revisiting.
</p>

<div>
  <button onclick="navigate('/cards/new')">Make new card</button>
  <!-- <button onclick="navigate('/users')">To All Users</button> -->
  <button onclick="navigate('<%= user._id %>/show')">Show cards</button>
</div>

<!-- <% let userId = user._id %>
  <ul> 
    <% for (let card of cards) { %> 
      
      <% if (card.userId == userId) { %> 
        <div class="collection" id=`<% card.userId %>`></div>



      <% } %> 
    <% } %> 
  </ul> -->

<!-- <p>file: users/userLandingPage.ejs</p> -->

<script>
  function navigate(url) {
    console.warn(url);
    window.location.href = url;
    console.warn(window.location.href);
  }
</script>
