<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcard Home</title>
  </head>
  <body>
    <h1>Flashcards!</h1>
    <p><% cards.id %></p>
  </body>
</html>
